@import "utils/fonts";
@import "utils/reset";
@import "utils/vars";
@import "blocks/header.scss";
@import "blocks/todo";
@import "blocks/status.scss";
@import "utils/dark-theme";
@import "blocks/modal.scss";

@import "blocks/background";

* {
    font-family: $mainFont;
    transition: all 0.3s;
}

body {
    width: 100%;
    height: 100vh;
    min-width: $phoneWidth;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}