// Fonts

$mainFont : "Josefin Sans", sans-serif;
$regularWeight : "400";
$boldWeight : "700";
$mainFontSize : 18px;

// Size

$desktopWidth : 1440px;
$phoneWidth : 375px;

// Colors 

$BgColor : #FAFAFA;
$DarcBgColor : #25273c;
$TextColor : #4c4b5b;
$DarkTextColor : #cacde8;

$ButtonColor : #E3E3E3;
$CheckColor : #a0a0a0;
$InputColor : #646464;
$ErrorColor : #ff0000;